@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  font-family: monospace;
  color:#a0b3c6;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1b2329;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .logo {
    width: 240px;
    height: auto;
    margin-bottom: 32px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}